.context {
    max-width: 90%;
    right: 5%;
    left: 5%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
    margin-bottom: 200px;
}

.context h1{
    font-size: 65px;
}

.context p{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.buttons a {
    font-family: 'Roboto', sans-serif;
    background-color: #00cc9c;
    border-color: #00cc9c;
    margin: 0px 10px 0px 0px;
    padding-top: 8px;
    width: 120px;
    height: 40px;
}

.buttons a:hover {
    background-color: #00cc9c;
    border-color: #00cc9c;
    box-shadow:
    5px -5px 24px -2px rgba(0,0,0,0.14),
    5px -5px 30px -2px rgba(0,0,0,0.12),
    5px -5px 10px -2px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.buttons.btn.btn-primary {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    background-color: #00cc9c;
    border-color: #00cc9c;
    margin: 0px 10px 0px 0px;
    padding-top: 8px;
    width: 120px;
    height: 40px;
}

.buttons.btn.btn-primary:hover {
    background-color: #00cc9c;
    border-color: #00cc9c;
    box-shadow:
    5px -5px 24px -2px rgba(0,0,0,0.14),
    5px -5px 30px -2px rgba(0,0,0,0.12),
    5px -5px 10px -2px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.buttons .nav {
    justify-content: center;
}

.fon {
    filter: brightness(55%);
    max-height: 600px;
}

@media screen  and (max-width: 1240px) {
    .context {
        margin: -400px 0 0 -30px;
    }

    .context h1{
        font-size: 60px;
    }
    
    .context p{
        font-size: 20px;
    }
}

@media screen  and (max-width: 1024px) {
    .context {
        margin: -350px 0 0 -30px;
    }

    .context h1{
        font-size: 50px;
    }
    
    .context p{
        font-size: 20px;
    }
}

@media screen  and (max-width: 700px) {
    .carousel-caption {
        width: 550px;
    }
    
    .context {
        margin: -250px 0 0 -30px;
    }
}

@media screen  and (max-width: 500px) {
    .carousel-caption {
        width: 450px;
    }
    
    .context {
        margin: -150px 0 0 -30px;
    }
    
    .buttons a {
        padding-top: 2px;
        width: 100px;
        height: 30px;
    }
}

@media screen and (max-width: 450px) {
    .carousel-caption {
        width: 350px;
    }

    .context h1{
        font-size: 30px;
    }

    .context p{
        font-size: 16px;
    }
}