.footer-block {
    position: relative;
    z-index: 100;
    background: #323437;
    max-width: 100%;
    height: max-content;
}

.footer-content {
    min-height: 10px;
}

.footer-content-bottom {
    padding-bottom: 1px;
    justify-content: space-between;
    padding: 20px 0 25px 0;
    height: 90px;
}

hr {
    color: #eee;
    margin-bottom: 20px;
}

.footer-img {
    max-width: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.footer-img:hover {
    max-width: 24px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.footer-copyright {
    font-size: 13px;
    color: #fff;
    padding: 3px 15px 0;
}